a.out
.DS_Store
cachegrind.out.*
config.mk
gen
debuggen
flamegraph.html
utils/.DS_Store
perf.data
perf.data.old
run
run.exe
debugrun
tables/*
test/*/runtest
test/.DS_Store
test/run
test/run.DSYM
runtest
runtest.exe
runcpp
runcpp.exe
runtest.js
runtest.wasm
web/http/nissy_web_module.*
web/nissy_web_module.*
runtool
tools/.DS_Store
run.DSYM
run.core
test/last.*
tools/results
.vscode
*.a
*.o
*.so
*/*.so
*.s
*.pyd
*.dll
*.exp
*.exe
*.lib
*.pdb
*.ilk
python/*.pyd
python/*.exp
python/*.lib
*.sketch
